h1 {
  color: red;
  border: 2px solid red;
}

h2 {
  color: rgb(100, 0, 100);
}

h3 {
  color: rgba(100, 0, 100, 0.5);
  background: pink;
}

h4 {
  color: purple;
}

li {
  color: green;
}

body {
  /* background dali picture */
  background: url(https://www.moma.org/media/W1siZiIsIjM4NjQ3MCJdLFsicCIsImNvbnZlcnQiLCItcXVhbGl0eSA5MCAtcmVzaXplIDIwMDB4MjAwMFx1MDAzZSJdXQ.jpg?sha=fdc1ab6baa7f5400);
  background-repeat: no-repeat;
  background-size: auto;
}
