body{
  background:#999;
  font-family: arial;
}

h1{
  color:#309;
}

p{
  background: #666;
  color: white;
  padding: 10px;
}

.secondary{
  background: red;
  color: black;
}

#special{
  background: orange;
  color: green;
}
