body{
  margin:0;
}

header{
  background: #999;
  color: white;
  padding: 0px 0px 8px 0px;
}

header h1{
  margin: 0;
  display: inline;
  float: left;
}

nav ul{
  margin: 0px;
  display: inline;
}

nav ul li{
  list-style-type: none;
  margin: 8px 0px 0px 0px;
  display: inline-block;
  background: black;
  color: white;
  padding: 5px 15px;
}

nav ul li a{
  color:white;
}

.row:after{
  clear:both;
}

.col{
  float:left;
  border-radius: 5px;
  background: #333;
  color: white;
  padding: 10px .5%;
  width: 31%;
  margin: 0.5%;
}
